* html {
    height: 100%;
    padding: 0;
}

body, p {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

h1, h2, h3, h4 {font-family: "Roboto", sans-serif;}

.navbar {
    display: flex;
    justify-content: space-between;
}

.navbar-brand {
    color: #fff;
    font-family : "Roboto";
    font-size: x-large;
    font-weight: 400;
}

.gradient-bg-main {
    min-height: 100vh;
    background-color:#18141d;
    background-image:
        radial-gradient(at 0% 0%, #2f2157 0, transparent 50%),
        radial-gradient(at 50% 0%, #472480 0, transparent 50%),
        radial-gradient(at 100% 0%, #a43eb1 0, transparent 50%);
}

.gradient-bg-uploads {
    background-color:#18141d;
    background-image:
        radial-gradient(at 50% 100%, #5f288b 0, transparent 50%);
  }

.main-content {
    justify-content: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
    margin-left: 5vw;
    margin-right: 5vw;
}

.file-content {
    justify-content: center;
    margin-top: 5vh;
    margin-bottom: 0vh;
    margin-left: 5vw;
    margin-right: 5vw;
}

.description {
    font-size: 14px;
    letter-spacing: 1px;
}

.btn-group {
    display: flex;
    justify-content: space-between;
}

.glass-btn {
    height: 40px;
    width: 150px;
    display: inline-block;
    padding: 10px 20px;
    border: 0;
    text-decoration: none;
    border-radius: 12px;
    background-color: rgba(255,255,255,0.1);
    border: 1px solid rgba(255,255,255,0.1);
    backdrop-filter: blur(30px);
    color: rgba(255,255,255,0.8);
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.glass-btn:hover {
    background-color: rgba(255,255,255,0.2);
}

input[type=file]::file-selector-button {
    height: 40px;
    display: inline-block;
    padding: 10px 28px;
    border: 0;
    text-decoration: none;
    border-radius: 12px;
    background-color: rgba(255,255,255,0.1);
    border: 1px solid rgba(255,255,255,0.1);
    backdrop-filter: blur(30px);
    color: rgba(255,255,255,0.8);
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-right: 10px;
  }
  
  input[type=file]::file-selector-button:hover {
    background-color: rgba(255,255,255,0.2);
  }

.white-glassmorphism {
    padding: 20px;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    border-radius: 12px;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.uploads {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10vh;
}

.upload-card {
    padding: 20px;
    background: #181918;
    border-radius: 12px;
}

@media only screen and (max-width: 700px) {
    .content {
        justify-content: center;
    }

    .btn-group {
        display: inline-block;
        width: 100%;
    }

    .glass-btn {
        width: 100%;
    }

    input[type=file]::file-selector-button {
        padding: 10px 20px;
        width: 120px;
    }
  }